{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/element.css' %}"/>
    <script src="{% static 'js/vue.js' %}"></script>
    <script src="{% static 'js/element.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <style>
        body {background-image:url(/static/images/children.jpg);
        background-size: cover}
        html {
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
            color: #606266;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header >
            <el-menu mode="horizontal" background-color="#ffffff" opacity="0.5">
                <el-menu-item index="1">
                    <el-link :underline="false" href="/q_all">视频查询</el-link>
                </el-menu-item>
                <el-menu-item index="2">
                    <el-link :underline="false" href="/list">本地列表</el-link>
                </el-menu-item>
                <el-menu-item index="3">
                    <el-link :underline="false" href="/my">个人中心</el-link>
                </el-menu-item>
                <el-menu-item index="4">
                    <el-link :underline="false" href="/log">日志记录</el-link>
                </el-menu-item>
            </el-menu>
        </el-header>
        <el-main>
            {% block content %}

            {% endblock %}
        </el-main>
    </el-container>
</div>
</body>
</html>