{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/my.css' %}"/>
    <div id="my">
        <div class="header">
            <h2>个人信息</h2>
        </div>
        <div class="content">
            <p>
                用户名: 张三
            </p>
            <p>
                地址: 北京
            </p>
            <p>
                职位: 总经理
            </p>
            <p>
                电话: 15801010101
            </p>
        </div>
    </div>
    <script>
    var app = new Vue({
        el: "#app",
    })
</script>
{% endblock %}